.exp {
  background: var(--color-white);
  border-radius: 16px;
  padding-block: 56px;
}

.exp__title {
  font-family: var(--font-poppins);
  color: var(--color-darkgrey);
  text-align: center;
  font-size: 52px;
  line-height: 150%;
  margin-bottom: 54px;
}

.exp__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.exp__img{
  margin-bottom: 10px;
  width: 100%;
  max-height: 240px;
  border-radius: 8px;
}

.exp__item-title {
  text-align: center;
  color: var(--color-darkgrey);
  font-family: var(--font-poppins);
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 10px;
}

.exp__item-text {
  color: var(--color-lightgrey);
  font-family: var(--font-opensans);
  font-size: 14px;
}

.swiper-exp{
  display: none;
}

@media (max-width: 1024px) {
  .swiper-exp {
    display: block;
  }
  .exp__items {
    display: none;
  }

  .exp .swiper-wrapper:first-child {
    background-image: none;
  }

  .exp__item-text {
    text-align: center;
  }

  .swiper-pagination-exp {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}