.footer {
  background: var(--color-white);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 100px;
}

.footer__title {
  color: var(--color-darkgrey);
}

.footer__content {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

.footer__content a {
  font-family: var(--font-opensans);
  color: var(--color-lightgrey);
  animation: scalean 1.8s ease-in-out infinite;
  text-transform: uppercase;
}

.footer__content a:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: var(--color-darkgrey);
  bottom: -5px;
  left: 0;
}

@media (max-width: 1024px) {
  .footer {
    padding: 50px 0;
  }
  .footer__content {
    flex-direction: column;
  }
  
}
@keyframes scalean {
    0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}