.header {
  padding-block: 12px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 50px;
}

.header__menu {
  display: flex;
  gap: 12px;
}

.header__item {
  font-family: var(--font-opensans);
  color: var(--color-darkgrey);
  text-transform: uppercase;
  position: relative;
}

.header__item:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--color-darkgrey);
  bottom: -5px;
  left: 0;
}

/* ===== Burger ===== */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.burger span {
  width: 24px;
  height: 2px;
  background: var(--color-darkgrey);
  transition: 0.3s;
}

/* ===== Overlay ===== */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/* ===== Mobile menu ===== */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 260px;
    background: #fff;

    flex-direction: column;
    padding: 80px 24px;
    gap: 20px;

    transform: translateX(100%);
    transition: 0.3s;
    z-index: 1000;
  }

  .header__menu.active {
    transform: translateX(0);
  }
}

/* ===== Burger animation ===== */
.burger.active span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
