.header {
  padding-block: 12px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 50px;
}

.header__menu {
  display: flex;
  gap: 12px;
}

.header__item {
  font-family: var(--font-opensans);
  color: var(--color-darkgrey);
  text-transform: uppercase;
  position: relative;
}

.header__item:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: var(--color-darkgrey);
  bottom: -5px;
  left: 0;
}