.hero {
  display: flex;
  background: var(--color-white);
  border-radius: 16px;
}

.hero__inner {
  padding: 140px 0 65px;
  max-width: 490px;
}

.hero__title {
  color: var(--color-darkgrey);
  font-family: var(--font-poppins);
  font-size: 64px;
  letter-spacing: -2px;
  margin-bottom: 32px;
}

.hero__subtitle {
  color: var(--color-lightgrey);
  font-family: var(--font-opensans);
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 83px;
}


@media(max-width: 1024px) {
  .hero {
    flex-direction: column;
    overflow: hidden;
  }

  .hero__inner{
    padding: 50px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .hero__title {
    font-size: 48px;
    text-align: center;
    line-height: 100%;
  }

  .hero__subtitle  {
    font-size: 14px;
    padding-bottom: 24px;
  }
}
