.slide-1 {
  background-image: url(../../images/hero/guitar1.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.slide-2{
  background-image: url(../../images/hero/drums1.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: url(../../images/hero/cvocal.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide {
  border-radius: 8px;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
